@model PuffinNotes.Models.NoticeBoard

@{
    ViewBag.Title = "Details";
}

<fieldset>
    <legend>@Html.DisplayFor(model => model.name): @Html.DisplayFor(model => model.description)</legend>

    <div class="note">

           @foreach (PuffinNotes.Models.Note thenote in Model.notes)
    { 
        <div>@Html.DisplayFor(model => thenote.content)</div>
    }
            
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.boardId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
