@model PuffinNotes.Models.NoticeBoard

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>NoticeBoard</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.notes)
    </div>
    <div class="display-field">
      

           @foreach (PuffinNotes.Models.Note thenote in Model.notes)
    { 
        <div>@Html.DisplayFor(model => thenote.content)</div>
    }
            
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.boardId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
