@model PuffinNotes.Models.NoticeBoard

@{
    ViewBag.Title = "Details";
}

<fieldset>
    <legend>@Html.DisplayFor(model => model.name): @Html.DisplayFor(model => model.description)</legend>

    <div class="noticeboard">

    @foreach (PuffinNotes.Models.Note thenote in Model.notes)
    { 
        <div class="note" id="@Html.DisplayFor(model => thenote.noteID)"
            style="position:absolute; left:@Html.DisplayFor(model => thenote.xCoordinate)px; top:@Html.DisplayFor(model => thenote.yCoordinate)px"
            onmouseup="setlocation('@Html.DisplayFor(model => thenote.boardID)', '@Html.DisplayFor(model => thenote.noteID)', '@Html.DisplayFor(model => thenote.author)', '@Html.DisplayFor(model => thenote.content)')"
            >@Html.DisplayFor(model => thenote.content)</div>        
        
    }
            
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.boardId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
