@model PuffinNotes.Models.Note

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Note</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.boardID)
        </div>

        <div class="editor-field">
            @Html.DropDownListFor(model => model.boardID, new SelectList(ViewBag.NoticeBoardIDs))
        </div>

@*        <div class="editor-label">
            @Html.LabelFor(model => model.noteID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.noteID)
            @Html.ValidationMessageFor(model => model.noteID)
        </div>*@
        
        <div class="editor-label">
            @Html.LabelFor(model => model.content)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.content)
            @Html.ValidationMessageFor(model => model.content)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.placementCoordinates)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.placementCoordinates)
            @Html.ValidationMessageFor(model => model.placementCoordinates)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.author)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.author)
            @Html.ValidationMessageFor(model => model.author)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>