@model PuffinNotes.Models.Note

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Note</legend>

    <div class="editor-label">
        @Html.LabelFor(model => model.noteID)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.noteID)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.boardID)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.boardID)
    </div>  

    <div class="display-label">
         @Html.DisplayNameFor(model => model.content)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.content)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.placementCoordinates)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.placementCoordinates)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.author)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.author)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
