@model IEnumerable<PuffinNotes.Models.Note>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>

            @Html.DisplayNameFor(model => model.boardID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.content)
        </th>
    
        <th>
            @Html.DisplayNameFor(model => model.author)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.boardID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.content)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.author)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.noteID }) |
            @Html.ActionLink("Details", "Details", new { id=item.noteID }) |
            @Html.ActionLink("Delete", "Delete", new {id=item.noteID })
        </td>
    </tr>
}

</table>
